[Unit]
Description=Run Thermal Cam Python Script
After=network.target

[Service]
ExecStart=/usr/bin/python /home/test/pysenxor-master/example/OFC_Ther_Cam_1.py
Restart=always
User=test
WorkingDirectory=/home/test

[Install]
WantedBy=multi-user.target
